- provide(:title, 'Sign up')
.col-md-4.col-md-offset-4
  .row
    .panel.panel-default
      .panel-heading
        %h2 Sign up
      .panel-body
    = form_for(@use) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
      .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
      .form-group
      = f.label :password 
      = f.password_field :password, class: 'form-control'
      .form-group
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: 'form-control'
      = f.submit "Create my account", class: "btn btn-primary"


