%body.boxed.bg8
	#wrapper.light
		%section.titlebar
			.container
				.sixteen.columns
					.twelve.columns.pull-right
						#cart

							.cart-btn
								%a.button.adc{:href => "#"} $178.00
							.cart-list
								.arrow
								.cart-amount
									%span 2 items in the shopping cart
								%ul
									%li
										%a{:href => "#"}
										%img{:alt => "", :src => "/assets/small_product_list_08.jpg"}/
										%a{:href => "#"} Converse All Star Trainers
										%span 

										.clearfix
									%li
										%a{:href => "#"}
										%img{:alt => "", :src => "/assets/small_product_list_08.jpg"}/
										%a{:href => "#"} Converse All Star Trainers
										%span 1 x $79.00
										.clearfix

								.cart-buttons.button
									%a.view-cart{:href => cart_path}
										.typecustom{"data-hover" => "View Cart"}
											%h3 View Cart
									%a.checkout.typecustom{:href => "checkout-billing-details.html"}
										%h3{"data-hover" => "Checkout"} Checkout
								.clearfix
				%nav
					#breadcrumbs
						%ul
							%li
								%a{:href => root_path} Home
							%li
								= link_to @pin.use.name, @pin.use
							%li
								= link_to @pin.title, @pin
.light2
	.container
		.eight.columns
			.slider-padding
			#product-slider.royalSlider.rsDefault
				- @picture_frames = PictureFrame.all.where(aspect: @pin.aspect.to_s).each do |picture_frame|
					.index_frame_container{"data-rsTmb" => picture_frame.image.url(:thumb), :class => "rsImg", :class => "style_image_frame" + @pin.aspect.to_s, id: 'frame-flipper' }
						= image_tag @pin.image.url(:large), :class => "rsImg", :class => "style_image" + @pin.aspect.to_s, :style => "top: #{@picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.top}" + '%; ' "left: #{@picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.left}" + '%;' "width: #{101 - @picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.left * 2}" + '%;' "height: #{101 - @picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.top * 2}" + '%;', "data-rsTmb" => "/assets/product_item_thumb_02a.png"
						= image_tag picture_frame.image.url(:large), :class => "rsImg", :class => "style_image_frame" + @pin.aspect.to_s, id: 'frame-flipper' 


			.clearfix

		.eight.columns
			.product-page

				%section.title
					%h2= @pin.title
					%span.product-price-discount
						%i= number_to_currency(@pin.price, :unit => "€")
				.reviews-counter
					.rating.five-stars
						.star-rating
						.star-bg
					%span 3 Reviews

				%section
					#product-artist
						Artist:
						= @pin.use.name
					%p.margin-reset
						= @pin.description
						%a{:href => "http://www.grazermedia.com"} Grazermedia
						

					.share-buttons
						%ul
							%li
								%a{:href => "#"} Share
							%li.share-facebook
								%a{:href => "#"} Facebook
							%li.share-twitter
								%a{:href => "#"} Twitter
							%li.share-gplus
								%a{:href => "#"} Google Plus
							%li.share-pinit
								%a{:href => "#"} Pin It
					.clearfix

				%section.variables
					.four.alpha.columns
						%label{:for => "size"} Frame Size
						%select#size{:name => "size"}
							%option 49cm x 39cm
							%option 59cm x 49cm
							%option 91cm x 61cm
					.four.omega.columns
						%label{:for => "color"} Color
						%select#color{:name => "color"}
							%option Black
							%option White
							%option Brown
					.clearfix
					%section.linking
						%form{:action => "#"}
							.qtyminus
							%input.qty{:name => "quantity", :type => "text", :value => "1"}/
							.qtyplus

						%a.button.adc{:href => "/cart/#{@pin.id}"} Add to Cart 
						.btn-group.pull-right
							= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do
								%span.glyphicon.glyphicon-heart
								= @pin.get_upvotes.size
							- if current_use?(@pin.use)
								= link_to "Edit", edit_pin_path, class: "btn btn-default"
								= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
					.clearfix


.row
	.container.light
		.sixteen.columns

			%ul.tabs-nav
				%li.active
					%a{:href => "#tab1"} Item Description
				%li
					%a{:href => "#tab2"} Additional Information
				%li
					%a{:href => "#tab3"} Reviews
					%span.tab-reviews (3)

			.tabs-container
				#tab1.tab-content
					%p Lorem ipsum pharetra lorem felis. Aliquam egestas consectetur elementum class aptentea taciti sociosqu ad litora torquent perea conubia nostra lorem consectetur adipiscing elit. Donec vestibulum justo a diam ultricies pellentesque. Fusce vehicula libero arcu, vitae ornare turpis elementum at. Etiam posuere quam nec ligula dignissim iaculis donec eleifend laoreet ornare. Quisque mattis luctus est, a placerat elit pharetra.
			#tab2.tab-content
				%table.basic-table
					%tr
						%th Size
						%td Small, Medium, Largem, Extra Large
					%tr
						%th Colors
						%td Blue, color, Red
					%tr
						%th Material
						%td 75% Cotton, 25% Polyester
					%tr
						%th Weight
						%td N/A
			#tab3.tab-content

				%section.comments
					%ul
						%li
							.avatar
								%img{:alt => "", :src => "http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"}/
							.comment-content
								.arrow-comment
								.comment-by
									%strong John Doe
									%span.date May 28, 2014
									.rating.five-stars

										.star-rating
										.star-bg
								%p Maecenas dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget just.
						%li
							.avatar
								%img{:alt => "", :src => "http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"}/
							.comment-content
								.arrow-comment
								.comment-by
									%strong Kathy Brown
									%span.date May 18, 2014
									.rating.five-stars
										.star-rating
										.star-bg
								%p Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus
						%li
							.avatar
								%img{:alt => "", :src => "http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"}/
							.comment-content
								.arrow-comment
								.comment-by
									%strong John Doe
									%span.date May 10, 2014
									.rating.four-stars
										.star-rating
										.star-bg
								%p Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.


						- if logged_in?
							.comment-content

								%section.user_info
									= render 'shared/use_info'
								%section.micropost_form
									= render 'shared/micropost_form'
						- else

							.comment-content
								%h1 Join us now at ArtRising.ie
								%h2
								To add a review 
								%a{:href => login_path} LOGIN
								or
								%a{:href => signup_path} SIGN UP
								
								%a.popup-with-zoom-anim.button.color.pull-right{:href => "#small-dialog"} Add Review

				
						%end


					

					#small-dialog.zoom-anim-dialog.mfp-hide
						%h3.headline Add Review
						%span.line.margin-bottom-25
						.clearfix


						%form#add-comment.add-comment
							- if logged_in?
								.row

									%section.user_info
										= render 'shared/use_info'
									%section.micropost_form
										= render 'shared/micropost_form'
							- else

								.comment-content
									%h1 Join us now at ArtRising.ie
									%h2
									To add a review 
									%a{:href => login_path} LOGIN
									or
									%a{:href => signup_path} SIGN UP

									%a.button.pull-right{:href => signup_path} Sign Up  
							%end 

- @microposts = Micropost.all.where(pin_id: @pin.id).each do |micropost|
	%h2= micropost.content
.row



%script{:src => "http://code.jquery.com/jquery-1.11.0.min.js"}
%script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.min.js"}
%script{:src => "/assets/jquery.jpanelmenu.js"}
%script{:src => "/assets/jquery.themepunch.plugins.min.js"}
%script{:src => "/assets/jquery.themepunch.revolution.min.js"}
%script{:src => "/assets/jquery.themepunch.showbizpro.min.js"}
%script{:src => "/assets/jquery.magnific-popup.min.js"}
%script{:src => "/assets/hoverIntent.js"}
%script{:src => "/assets/superfish.js"}
%script{:src => "/assets/jquery.pureparallax.js"}
%script{:src => "/assets/jquery.pricefilter.js"}
%script{:src => "/assets/jquery.selectric.min.js"}
%script{:src => "/assets/jquery.royalslider.min.js"}
%script{:src => "/assets/SelectBox.js"}
%script{:src => "/assets/modernizr.custom.js"}
%script{:src => "/assets/waypoints.min.js"}
%script{:src => "/assets/jquery.flexslider-min.js"}
%script{:src => "/assets/jquery.counterup.min.js"}
%script{:src => "/assets/jquery.tooltips.min.js"}
%script{:src => "/assets/jquery.isotope.min.js"}
%script{:src => "/assets/puregrid.js"}
%script{:src => "/assets/stacktable.js"}
%script{:src => "/assets/custom.js"}
