%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-brand= link_to "ArtRising.ie", root_path
    %nav
      %ul.nav.navbar-nav.navbar-right

        %li= link_to "Search", root_path
        %li= link_to "Home", root_path
        - if logged_in?
          %li= link_to "Artists", uses_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              My Profile
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", current_use
              %li= link_to "Settings", edit_use_path(current_use)
              %li= link_to "Add Art", new_pin_path
              %li.divider
              %li
                = link_to "Log out", logout_path, method: "delete"
        - else
          %li= link_to "Log in", login_path
       