!!! 5
%html
%head
	%title ArtRising.ie
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,800,300", :rel => "stylesheet", :type => "text/css"}/
	= csrf_meta_tags

%body
	= render :partial => "layouts/header"

.container.mymargin
	- flash.each do |name, msg|
		= content_tag :div, msg, class: "alert alert-info"
= yield
